<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buginthecode.witchname"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.buginthecode.witchname.MainActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity
            android:name="com.buginthecode.witchname.About"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.buginthecode.witchname.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buginthecode.witchname.MainActivity" />
        </activity>
        <activity
            android:name="com.buginthecode.witchname.Splash"
            android:label="@string/title_activity_splash"
            android:noHistory="true" >
            
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
